.chi-tiet {
    padding: 20px;
    width: 100%;
    height: 100%;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .back {
            display: flex;
            justify-content: space-between;
            width: 60px;
            cursor: pointer;
            img {
                filter: var(--filter-color);
            }
        }
        .save {
            img {
                width: 24px;
                height: 24px;
            }
            .save-icon {
                filter: var(--filter-color);
            }
            cursor: pointer;
        }
    }

    .ghichu {
        height: 68vh;
        margin-top: 20px;
        .title {
            position: relative;
            textarea {
                width: 100%;
                padding: 1vh 10px;
                border-radius: 10px;
                font-weight: 700;
                font-size: 18px;
            }
            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                background-color: #eee;
                height: 1px;
                width: 100%;
            }
        }
        .desc {
            margin-top: 10px;
            textarea {
                width: 100%;
                padding: 1vh 10px 50vh;
                border-radius: 10px;
            }
        }
    }
}
