.chi-tiet {
    padding: 20px;
    width: 100%;
    height: 100%;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .back {
            display: flex;
            justify-content: space-between;
            width: 60px;
            cursor: pointer;
        }
        .save {
            cursor: pointer;
        }
    }

    .ghichu {
        margin-top: 20px;
        height: 90%;
        .title {
            position: relative;
            textarea {
                width: 100%;
                padding: 10px 10px;
                border-radius: 10px;
                font-weight: 700;
                font-size: 18px;
            }
            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                background-color: #eee;
                height: 1px;
                width: 100%;
            }
        }
        .desc {
            margin-top: 10px;
            textarea {
                border-radius: 10px;
                width: 100%;
                padding: 10px 10px 570px;
            }
        }
    }
}
