.footer {
    display: flex;
    justify-content: end;
    align-items: start;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 5vh;
    width: 100vw;

    z-index: 10;
    background-color: #171c28;
    p,
    h3 {
        color: #fff;
    }
    .wrapper {
        display: flex;
        align-items: center;
        margin: 0 30px;
        p {
            width: 145px;
            height: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 18px;
            font-weight: 500;
            line-height: 32px;
        }
        img {
            width: 24px;
            height: 24px;
        }
        :hover {
            cursor: pointer;
        }
    }
}

@media (min-width: 0px) and (max-width: 739px) {
    .footer {
        justify-content: start;
    }
}
