.seach-result {
    overflow-y: auto;
    max-height: min((100vh - 96px) - 60px, 434px);
    width: 420px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);
    .result {
        position: relative;
        margin: 10px;
        height: 40px;
        &::before {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 0;
            background: #d2d1d6;
            width: 395px;
            height: 1px;
        }
        &:last-child::before {
            content: none;
        }
        &:hover {
            opacity: 0.8;
        }

        .info {
            h3 {
                color: #1a162e;
                font-size: 18px;
                font-weight: 500;
                line-height: 32px;
                height: 100%;
            }
        }
    }
}
.seach {
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    width: 361px;
    height: 46px;
    border-radius: 92px;
    transition: 0.2s ease-in-out;
    width: 420px;
    &:focus-within {
        border: 1px solid #1a162e;
    }
    input {
        padding: 0 16px 0 8px;
        margin-left: 10px;
        width: 100%;
        caret-color: #444;
        background-color: transparent;
        color: #000;
        border: none;
        outline: none;
        padding: 0 4px;
        overflow: visible;
    }
}
@media (min-width: 0px) and (max-width: 739px) {
    .seach-result {
        width: 330px;
        .result {
            position: relative;
            margin: 10px;
            height: 30px;
            &::before {
                content: "";
                position: absolute;
                bottom: -5px;
                left: 0;
                background: #d2d1d6;
                width: 320px;
                height: 1px;
            }
            &:last-child::before {
                content: none;
            }
            &:hover {
                opacity: 0.8;
            }

            .info {
                h3 {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    height: 100%;
                    white-space: nowrap;
                    color: #1a162e;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 32px;
                }
            }
        }
    }
    .seach {
        width: 161px;
        height: 33px;
        input::placeholder {
            overflow: hidden;
            font-size: 12px;
        }
    }
}
