.mini-document {
    padding: 10px;
    .header {
        display: flex;
        justify-content: space-between;
        position: relative;
        height: 20%;
        margin-bottom: 5px;
        img {
            width: 32px;
            height: 32px;
        }

        ::before {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 0;
            height: 1px;
            width: 100%;
            background-color: var(--primari-color);
        }
    }
    .wrap {
        overflow-x: scroll;
        height: 296px;
        .content {
            position: relative;
            cursor: pointer;
            width: 100%;
            margin-top: 10px;
            h3,
            p {
                font-size: 12px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            h3 {
                font-size: 14px;
                font-weight: 500;
            }

            ::before {
                content: "";
                position: absolute;
                bottom: -5px;
                left: 0;
                height: 1px;
                width: 100%;
                background-color: #eee;
            }
        }
    }
    .select-all {
        display: flex;
        justify-content: end;
        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
        p {
            color: #0071dc;
        }
    }
}
