.chi-tiet {
    height: 291px;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 8px 0;
        .back,
        .save {
            img {
                width: 16px;
                height: 16px;
            }
            cursor: pointer;
        }
        .save {
            .save-icon {
                filter: var(--filter-color);
            }
        }
    }

    .ghichu {
        height: 90%;
        .title {
            position: relative;
            textarea {
                width: 100%;
                padding: 0 10px;
                font-weight: 700;
                font-size: 18px;
            }
            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                background-color: #eee;
                height: 1px;
                width: 100%;
            }
        }
        .desc {
            textarea {
                width: 100%;
                padding: 10px 10px 170px;
            }
        }
    }
}
