.wrap {
    display: flex;
    justify-content: center;
    height: 100vh;
    padding-top: 10vh;
    background-color: var(--backgoud-main);
    .content {
        display: flex;
        flex-direction: column;
        width: 75vw;
        height: 80vh;
        border-radius: 20px;
        background-color: var(--backgoud-primary);
        box-shadow: var(--box-shadow);
        div {
            .ghi-chu-moi {
                display: flex;
                align-items: center;
                cursor: pointer;
                margin: 20px 0 10px 30px;
                button {
                    padding: 6px 8px;
                    border-radius: 10px;
                    color: var(--text-color);
                    background-color: #77dae6;
                    cursor: pointer;
                }
                p {
                    margin-left: 10px;
                    font-weight: 500;
                }
            }
            .wrap-list {
                height: 60vh;
                overflow-y: auto;
                .list-ghi-chu {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 12px 34px;
                    margin: 20px 30px 0;
                    border-radius: 20px;
                    background-color: var(--primari-color);
                    .ghichu {
                        width: 30%;
                        h3,
                        p {
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                        &:hover {
                            opacity: 0.8;
                            cursor: pointer;
                        }
                    }
                    .action {
                        display: flex;
                        justify-content: space-between;
                        width: 60px;
                        img {
                            filter: var(--filter-color);
                        }
                        button {
                            background-color: transparent;
                            &:hover {
                                cursor: pointer;
                                opacity: 0.8;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 0px) and (max-width: 739px) {
    .wrap {
        max-width: 100%;
        .content {
            min-width: 100vw;
        }
    }
}
