.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    min-width: 100vw;
    min-height: 5vh;
    background-color: var(--backgoud-header-footer);
    z-index: 10;
    .header {
        display: flex;
        align-items: center;
        width: 80vw;
        .logo {
            display: flex;
            flex-grow: 1;
            img {
                margin: 3px 10px 0 0;
                width: 22px;
                height: 22px;
            }
            h1 {
                font-size: 22px;
                font-weight: 700;
                line-height: 32px;
            }
        }
        .search {
            flex-grow: 1;
        }
        .action {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            width: 60px;
            margin: 0 20px;
            .theme,
            .document {
                cursor: pointer;
            }
            .theme {
                img {
                    filter: var(--filter-color);
                    width: 26px;
                    height: 26px;
                }
            }
            .document {
                position: relative;
                flex-grow: 0.1;
                .icon-document {
                    filter: var(--filter-color);
                }
                .popper {
                    position: absolute;
                    top: 40px;
                    right: 0;
                    width: 322px;
                    height: 376px;
                    border-radius: 20px;
                    background: var(--backgoud-primary);
                    box-shadow: var(--box-shadow);
                    animation: slideInBot ease-out 0.4s;
                    @keyframes slideInBot {
                        from {
                            opacity: 0;
                            transform: translateY(-2%);
                        }
                        to {
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }
                }
            }
        }

        .profile {
            img {
                margin-top: 4px;
                border-radius: 50%;
                height: 40px;
                object-fit: cover;
                width: 40px;
            }
        }
    }
}

@media (min-width: 0px) and (max-width: 739px) {
    .wrap {
        max-width: 739px;
        .header {
            width: 100%;
            margin: 0 10px;
            .logo {
                margin: 0;
            }

            .search {
                order: -1;
            }

            .action {
                width: 60px;
                margin: 0;
            }
            .profile {
                margin-left: 5px;
                img {
                    height: 30px;
                    width: 30px;
                }
            }
        }
    }
}
