.content {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    .category {
        width: 50vw;
        height: 80vh;
        background-color: #fff;
    }
}
