.lessons {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--backgoud-main);
    .main {
        display: flex;
        padding-top: 5vh;
        .content {
            .video {
                display: flex;
                justify-content: center;
                min-width: 80vw;
                height: 90vh;
                background-color: var(--backgoud-primary);
                border-radius: 20px;
                box-shadow: var(--box-shadow);
                iframe {
                    width: 85%;
                    height: 100%;
                }
            }
        }

        .nav-bar {
            display: flex;
            flex-direction: column;
            padding: 20px;
            width: 18vw;
            height: 60vh;
            border-radius: 20px;
            background: var(--backgoud-primary);
            box-shadow: var(--box-shadow);
            .wrap {
                overflow-y: auto;
                .button {
                    position: relative;
                    margin: 10px 0;
                    width: 100%;
                    padding: 15px;
                    border-radius: 10px;
                    background: var(--backgoud-primary);
                    &::before {
                        content: "";
                        position: absolute;
                        bottom: -10px;
                        left: 0;
                        background-color: #d2d1d6;
                        width: 100%;
                        height: 1px;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                    p {
                        text-align: left;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 22px;
                    }
                }
                .active {
                    background-color: var(--primari-color);
                }
            }
        }
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .lessons {
        .main {
            .content {
                .video {
                    min-width: 75vw;
                    min-height: 50vh;
                }
            }
            .nav-bar {
                width: 25vw;
                min-height: 50vh;
            }
        }
    }
}
@media (min-width: 0px) and (max-width: 739px) {
    .lessons {
        max-width: 100%;
        .main {
            display: flex;
            flex-direction: column;
            .content {
                margin: 0;
                .video {
                    width: 100vw;
                    height: 55vh;
                    flex-direction: column;
                    iframe {
                        width: 100%;
                        height: 85%;
                    }
                }
            }

            .nav-bar {
                display: flex;
                flex-direction: column;
                margin-top: 20px;
                width: 90vw;
                max-height: 25vh;
            }
        }
    }
}
