.lessons {
    height: 90vh;
    background-color: #292e39;
    h3,
    p {
        color: #fff;
    }
    .main {
        .content {
            .video {
                display: flex;
                justify-content: center;
                min-width: 80vw;
                height: 70vh;
                box-shadow: 0px 40px 90px 20px rgba(23, 28, 40, 0.4);
                background-color: #000;
                iframe {
                    width: 85%;
                    height: 100%;
                }
            }
            .title {
                margin: 30px 0 0 120px;
                h3 {
                    margin-bottom: 10px;
                }
            }
        }

        .nav-bar {
            display: flex;
            flex-direction: column;
            padding: 20px;
            width: 20vw;
            height: 80vh;
            border-radius: 20px;
            background: #171c28;
            box-shadow: 0px 40px 90px 20px rgba(23, 28, 40, 0.4);
            overflow-y: auto;
            z-index: 1;
            .button {
                position: relative;
                margin: 10px 0;
                width: 100%;
                padding: 15px;
                border-radius: 10px;
                background: #171c28;
                &::before {
                    content: "";
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    background-color: #d2d1d6;
                    width: 100%;
                    height: 1px;
                }
                &:hover {
                    cursor: pointer;
                }
                p {
                    text-align: left;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 22px;
                }
            }
            .active {
                background-color: #292e39;
            }
        }
    }
}
@media (min-width: 0px) and (max-width: 739px) {
    .lessons {
        .main {
            display: flex;
            flex-direction: column;
            .content {
                .video {
                    height: 34vh;
                    flex-direction: column;
                    iframe {
                        width: 100%;
                        height: 85%;
                    }
                }
                .title {
                    display: flex;
                    flex-direction: column;
                    width: 90vw;
                    height: 100px;
                    margin: 10px;
                    h3 {
                        height: 60px;
                        width: 100%;
                        margin-bottom: 10px;
                    }
                    p {
                        font-size: 16px;
                    }
                }
            }

            .nav-bar {
                display: flex;
                flex-direction: column;
                width: 90vw;
                height: 35vh;
                overflow-x: auto;
            }
        }
        .footer {
            justify-content: start;
        }
    }
}
