.lessons {
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--backgoud-main);
    .main {
        padding-top: 5vh;
        .content {
            .video {
                display: flex;
                justify-content: center;
                min-width: 80vw;
                height: 70vh;
                background-color: var(--backgoud-primary);
                border-radius: 20px;
                box-shadow: var(--box-shadow);
                iframe {
                    width: 85%;
                    height: 100%;
                }
            }
            .title {
                margin: 30px 0 0 120px;
                h3 {
                    margin-bottom: 10px;
                }
            }
        }

        .nav-bar {
            display: flex;
            flex-direction: column;
            padding: 20px;
            width: 25vw;
            height: 80vh;
            border-radius: 20px;
            background: var(--backgoud-primary);
            box-shadow: var(--box-shadow);
            overflow-y: auto;
            .button {
                position: relative;
                margin: 10px 0;
                width: 100%;
                padding: 15px;
                border-radius: 10px;
                background: var(--backgoud-primary);
                &::before {
                    content: "";
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    background-color: #d2d1d6;
                    width: 100%;
                    height: 1px;
                }
                &:hover {
                    cursor: pointer;
                }
                p {
                    text-align: left;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 22px;
                }
            }
            .active {
                background-color: var(--primari-color);
            }
        }
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .lessons {
        .main {
            .content {
                .video {
                    min-width: 75vw;
                    height: 50vh;
                }
            }
            .nav-bar {
                width: 25vw;
                height: 50vh;
                overflow-x: auto;
            }
        }
    }
}
@media (min-width: 0px) and (max-width: 739px) {
    .lessons {
        .main {
            display: flex;
            flex-direction: column;
            .content {
                .video {
                    height: 45vh;
                    flex-direction: column;
                    iframe {
                        width: 100%;
                        height: 85%;
                    }
                }
                .title {
                    display: flex;
                    flex-direction: column;
                    width: 90vw;
                    height: 10vh;
                    margin: 10px;
                    h3 {
                        height: 60px;
                        width: 100%;
                        margin-bottom: 10px;
                    }
                    p {
                        font-size: 16px;
                    }
                }
            }

            .nav-bar {
                display: flex;
                flex-direction: column;
                width: 90vw;
                height: 25vh;
                overflow-x: auto;
            }
        }
        .footer {
            justify-content: start;
        }
    }
}
