.lessons {
    height: calc(100vh - 50px);
    background-color: #292e39;
    h3,
    p {
        color: #fff;
    }
    .main {
        .content {
            .video {
                display: flex;
                justify-content: center;
                min-width: 80vw;
                height: 70vh;
                box-shadow: 0px 40px 90px 20px rgba(23, 28, 40, 0.4);
                background-color: #000;
                iframe {
                    width: 85%;
                    height: 100%;
                }
            }
            .title {
                margin: 30px 0 0 120px;
                h3 {
                    margin-bottom: 10px;
                }
            }
        }

        .nav-bar {
            display: flex;
            flex-direction: column;
            padding: 20px;
            width: 20vw;
            height: 80vh;
            border-radius: 20px;
            background: #171c28;
            box-shadow: 0px 40px 90px 20px rgba(23, 28, 40, 0.4);
            overflow-y: auto;
            .button {
                position: relative;
                margin: 10px 0;
                width: 100%;
                padding: 15px;
                border-radius: 10px;
                background: #171c28;
                &::before {
                    content: "";
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    background-color: #d2d1d6;
                    width: 100%;
                    height: 1px;
                }
                &:hover {
                    cursor: pointer;
                }
                p {
                    text-align: left;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 22px;
                }
            }
            .active {
                background-color: #292e39;
            }
        }
    }
    .footer {
        display: flex;
        justify-content: end;
        align-items: center;
        position: fixed;
        position: -webkit-fixed;
        position: -ms-fixed;
        position: -o-fixed;
        position: -moz-fixed;
        bottom: 0;
        right: 0;
        left: 0;
        height: 50px;
        padding: 10px 0 0 10px;
        z-index: 999;
        background-color: #171c28;
        .wrapper {
            display: flex;
            align-items: center;
            p {
                width: 145px;
                height: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-size: 18px;
                font-weight: 500;
                line-height: 32px;
            }
            img {
                width: 24px;
                height: 24px;
            }
            :hover {
                cursor: pointer;
            }
        }
    }
}
@media (min-width: 0px) and (max-width: 739px) {
    .lessons {
        height: 90vh;
        .main {
            display: flex;
            flex-direction: column;
            .content {
                .video {
                    height: 40vh;
                    flex-direction: column;
                    iframe {
                        width: 100%;
                        height: 85%;
                    }
                }
                .title {
                    margin: 10px;
                    h3 {
                        margin-bottom: 10px;
                    }
                    p {
                        font-size: 16px;
                    }
                }
            }

            .nav-bar {
                display: flex;
                flex-direction: column;
                width: 90vw;
                height: 25vh;
                overflow-x: auto;
            }
        }
        .footer {
            justify-content: start;
        }
    }
}
