.header-lessons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #29303b;
    height: 50px;
    .title {
        display: flex;
        align-items: center;
        height: 100%;
        .back {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 30px;
            width: 60px;
            height: 100%;
            img {
                width: 24px;
                height: 24px;
            }
        }
        h3 {
            color: #fff;
            font-size: 22px;
            font-weight: 500;
            line-height: 32px;
        }
    }
    .search {
        margin-right: 100px;
    }
}

@media (min-width: 0px) and (max-width: 739px) {
    .header-lessons {
        width: 430px;
        height: 40px;
        .title {
            .back {
                width: 40px;
                margin: 0;
                img {
                    width: 16px;
                    height: 16px;
                }
            }
            h3 {
                width: 180px;
                font-size: 16px;
            }
        }
        .search {
            margin: 0;
        }
    }
}
