.header-lessons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #29303b;
    height: 50px;
    .title {
        display: flex;
        align-items: center;
        height: 100%;
        .back {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 30px;
            width: 60px;
            height: 100%;
            img {
                width: 24px;
                height: 24px;
            }
        }
        h3 {
            color: #fff;
            font-size: 22px;
            font-weight: 500;
            line-height: 32px;
        }
    }
    .search {
        flex-grow: 0.6;
    }
    .document {
        position: relative;
        flex-grow: 0.25;

        img {
            margin-top: 6px;
            cursor: pointer;
        }
        .popper {
            position: absolute;
            top: 40px;
            right: 0;
            width: 322px;
            height: 376px;
            border-radius: 20px;
            background: #fff;
            box-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);
        }
    }
    .profile {
        margin-right: 30px;
        img {
            border-radius: 50%;
            height: 50px;
            object-fit: cover;
            width: 50px;
        }
    }
}

@media (min-width: 0px) and (max-width: 739px) {
    .header-lessons {
        min-width: 375px;
        .title {
            .back {
                width: 40px;
                margin: 0;
                img {
                    width: 16px;
                    height: 16px;
                }
            }
            h3 {
                width: 180px;
                font-size: 16px;
            }
        }
        .document {
            order: 1;
        }
        .profile {
            display: none;
        }
    }
}
